node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.vscode

# macOS
.DS_Store

# local .env
app/.env
server/.env

# rescript build artefacts
app/lib/bs/*
server/lib/bs/*
common/lib/bs/*
common/lib/ocaml/*
lib/bs/*
.merlin

*.bs.js

# cypress artefacts
app/cypress/screenshots/
app/cypress/videos/
