node_modules/
.expo/
dist/
npm-debug.*
.vscode
.DS_Store
.env

lib/bs/*
auth/lib/bs/*
.merlin
*.bs.js

# cypress artefacts
cypress/screenshots/
cypress/videos/
cypress/fixtures/

server/dev.sqlite3
server/emails

docs/site

web-build/
