node_modules/
.expo/
dist/
npm-debug.*
.vscode
.DS_Store
.env

vote/lib/bs/*
vote/web-build/
.merlin
*.bs.js

# cypress artefacts
cypress/screenshots/
cypress/videos/
cypress/fixtures/

server/dev.sqlite3
server/emails
server/*.js
server/**/*.js

docs/site
